@{
    Layout = "~/Views/Shared/_Layoutlogin.cshtml";

}
<main id="main">
    <div class="container">
        <section class="section register min-vh-100 d-flex flex-column align-items-center justify-content-center py-4">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-4 col-md-6 d-flex flex-column align-items-center justify-content-center">
                        <div class="d-flex justify-content-center py-4">
                            <h1 class="logo"><a href="index.html">Phoenix Blog<span>.</span></a></h1>
                        </div>
                        <div class="card mb-3">
                            <div class="card-body">
                                <div class="pt-4 pb-2">
                                    <h5 class="card-title text-center pb-0 fs-4">Đăng nhập tài khoản</h5>
                                    <p class="text-center small">Hãy nhập thông tin của bạn</p>
                                </div>
                                <form class="row g-3 needs-validation" action="/DangnhapDangki/XulyDangnhap" method="post">
                                    @if (ViewBag.Thongbao != "")
                                    {
                                        <div class="alert alert-danger">
                                            <strong>Thông báo!</strong> @ViewBag.Thongbao
                                        </div>
                                    }
                                    <div class="col-12">
                                        <label for="Email" class="form-label">Email</label>
                                        <div class="input-group has-validation">
                                            <span class="input-group-text" id="inputGroupPrepend"></span>
                                            <input type="text" name="EMAIL" class="form-control" id="Email" required>
                                            <div class="invalid-feedback">Vui lòng nhập email!</div>
                                        </div>
                                    </div>
                                    <div class="col-12">
                                        <label for="yourPassword" class="form-label">Mật khẩu</label>
                                        <input type="password" name="MATKHAU" class="form-control" id="yourPassword" required>
                                        <div class="invalid-feedback">Vui lòng nhập mật khẩu!</div>
                                    </div>
                                    <div class="col-12">
                                        <button class="btn btn-primary w-100" type="submit">Đăng nhập</button>
                                    </div>
                                    <div class="col-12">
                                        <p class="small mb-0">Bạn không có tài khoản? <a href="/DangnhapDangki/Dangki">Tạo tài khoản mới</a></p>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</main>