@model Blogcongnghe.Models.StoreContext
@if (Model.Laythanhvien().EMAIL == null)
{
    Layout = "~/Views/Shared/_Layoutuser-trang.cshtml";
}
else
{
    Layout = "~/Views/Shared/_Layoutuser-" + Model.Laythanhvien().MAUNEN + ".cshtml";
}
<header id="header" class="d-flex align-items-center">
    <div class="container d-flex align-items-center justify-content-between">
        <h1 class="logo"><a href="/Index/Index">Phoenix Blog<span>.</span></a></h1>
        <nav id="navbar" class="navbar">
            <ul>
                <li><a class="nav-link scrollto" href="/Index/Index">Trang chủ</a></li>
                <li class="dropdown">
                    <a href="#"><span>Thể Loại</span> <i class="bi bi-chevron-down"></i></a>
                    <ul>
                        @foreach (var theloai in Model.Laytheloai())
                        {
                            <li><a href="/TheloaiBaiviet/Index/?MATL=@theloai.MATL">@theloai.TENTL</a></li>
                        }
                    </ul>
                </li>
                <li><a class="nav-link scrollto" href="/ThongtinDoanhnghiep/Index">Giới thiệu</a></li>
                @if (Model.Laythanhvien().EMAIL == null)
                {
                    <li><a class="nav-link scrollto" href="/DangnhapDangki/Index">Đăng nhập</a></li>
                    <li><a class="nav-link scrollto" href="/DangnhapDangki/Dangki">Đăng kí</a></li>
                }
                else
                {
                    if (Model.Laythanhvien().QUYENDN == 1 && Model.Laythanhvien().TINHTRANGDN == 1)
                    {
                        <li><a class="nav-link scrollto" href="/Admin/IndexAdmin/Index?MATV=@Model.Laythanhvien().MATV">Chào Quản Trị Viên</a></li>
                    }
                    else if (Model.Laythanhvien().QUYENDN == 0 && Model.Laythanhvien().TINHTRANGDN == 1)
                    {
                        <li><a class="nav-link scrollto" href="/ThongtinThanhvien/Index">Chào @Model.Laythanhvien().TENTHANHVIEN</a></li>
                    }
                }
            </ul>
            <i class="bi bi-list mobile-nav-toggle"></i>
        </nav>
    </div>
</header>
<section id="hero" class="d-flex align-items-center" style="background: url('../../assets/img/Anh_Nen_Theloai.jpg'); background-size: cover;">
    <div class="container">
        <h1>Blog <span>Phoenix</span></h1>
        <h2>Trang blog với những bài viết chất lượng và mới nhất về nghề lập trình</h2>
        <div class="d-flex">
            <a href="#about" class="btn-get-started scrollto">Bắt đầu</a>
            <a href="https://www.youtube.com/watch?v=jDDaplaOz7Q" class="glightbox btn-watch-video">
                <i class="bi bi-play-circle"></i><span>Video</span>
            </a>
        </div>
    </div>
</section>
<main id="main">
    <section id="portfolio" class="portfolio">
        <div class="container">
            <div class="row portfolio-container">
                @foreach (var post in Model.LaydulieuBaivietTheloai1)
                {
                    <div class="col-lg-4 col-md-6 portfolio-item filter-@post.MATL">
                        <img src="~/img_post/@post.ANH1" class="img-fluid" alt="">
                        <div class="portfolio-info">
                            <h4>@post.TIEUDE</h4>
                            <a href="/ChitietBaiviet/Index?MABAIDANG=@post.MABAIDANG" class="details-link" title="More Details"><i class="bx bx-link"></i></a>
                        </div>
                    </div>
                }
            </div>
            <ul class="pagination pagination-lg justify-content-center">
                <li class="page-item"><a class="page-link" href="javascript:void(0);">Trước</a></li>
                <li class="page-item"><a class="page-link" href="javascript:void(0);">1</a></li>
                <li class="page-item"><a class="page-link" href="javascript:void(0);">2</a></li>
                <li class="page-item"><a class="page-link" href="javascript:void(0);">Sau</a></li>
            </ul>
        </div>
    </section>
</main>